In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from pandas import DataFrame
from sklearn.metrics import precision_recall_fscore_support

In [2]:
le = LabelEncoder()
 
# df = pd.read_csv("./data/cwmt_comb.txt", delimiter='\t', error_bad_lines=False)

b'Skipping line 2147: expected 4 fields, saw 5\nSkipping line 14310: expected 4 fields, saw 5\nSkipping line 14410: expected 4 fields, saw 5\n'

In [51]:
len(df)

14749

In [59]:
## using this processor to preprocess the data for chinese word segmented data
# with open('./data/cwmt_comb.txt') as infile:
#     seg_id=[]
#     src_tgt_txt=[]
#     label=[]
#     for idx, ln in enumerate(infile):
#         if ln:
#             try:
#                 src, tgt, cls = ln.strip().split('\t')[1], ln.strip().split('\t')[2], ln.strip().split('\t')[3]
#                 src_tgt=' '.join((src.split() +[c for c in ''.join(tgt.split())]))
#                 seg_id.append("cwmt_"+str(idx))
#                 src_tgt_txt.append(src_tgt)
#                 label.append(cls)
#             except IndexError as e:
#                 print(idx, e)

In [5]:

# using this bit for character segmented chinese and two sentences side by side 
"""
[CLS]to add to his woes , he only has one day to ea... [SEP] \
更 糟 糕 的 是 ， 他 只 有 一 天 的 时 间 来 争 取 菲 奥 娜 的 真[SEP]
"""
with open('./data/cwmt_comb.txt') as infile:
    seg_id=[]
    src_txt=[]
    tgt_txt=[]
    label=[]
    for idx, ln in enumerate(infile):
        if ln:
            try:
                src, tgt, cls = ln.strip().split('\t')[1], ln.strip().split('\t')[2], ln.strip().split('\t')[3]
                src_txt.append(src)
                tgt_txt.append(' '.join([c for c in ''.join(tgt.split())]))
                seg_id.append("cwmt_"+str(idx))
                label.append(cls)
            except IndexError as e:
                print(idx, e)

In [40]:

# #concatenate the  src and tgt as space-segmented (notices that the bert vocabulary are single characters and masked characters. Thought this might be better)
# src_tgt_txts=[]
# for src, tgt in zip(df['SRC_Txt'], df['TGT_Txt']):
#     src_ws = [w for w in src.split()]
#     tgt_chars =[c for c in ''.join(tgt.split())]
#     src_tgt =' '.join((src_ws + tgt_chars))
#     src_tgt_txts.append(src_tgt)

In [6]:
src_txt[0]

'the young man walked up to the old man , reached into his perfect heart , and ripped a piece out . he offered it to the old man .'

In [7]:
tgt_txt[0]

'年 轻 人 走 向 老 人 ， 伸 出 他 完 美 的 心 灵 并 撕 出 一 块 给 老 年 填 上 。'

In [8]:
# Creating train and dev dataframes according to BERT
df_bert = pd.DataFrame({'seg_id':seg_id,
            'label':le.fit_transform(label),
            'alpha':['a']*len(label),
            'src_text':src_txt,
            'tgt_text':tgt_txt})
 
df_bert_train, df_bert_dev = train_test_split(df_bert, test_size=0.01, random_state=400)

In [9]:
df_bert.loc[1,:]

seg_id                                                 cwmt_1
label                                                       1
alpha                                                       a
src_text    to add to his woes , he only has one day to ea...
tgt_text    更 糟 糕 的 是 ， 他 只 有 一 天 的 时 间 来 争 取 菲 奥 娜 的 真 爱 ...
Name: 1, dtype: object

In [66]:
df_bert_train.shape

(16955, 4)

In [81]:
with open('./data/htqe_test_comb.txt') as infile:
    test_seg_id=[]
    test_src_tgt_txt=[]
    test_label=[]
    for idx, ln in enumerate(infile):
        if ln:
            try:
                src, tgt, cls = ln.strip().split('\t')[1], ln.strip().split('\t')[2], ln.strip().split('\t')[3]
                src_tgt=' '.join((src.split() +[c for c in ''.join(tgt.split())]))
                test_seg_id.append("htqe_"+str(idx))
                test_src_tgt_txt.append(src_tgt)
                test_label.append(cls)
            except IndexError as e:
                print(idx, e)

In [10]:
with open('./data/htqe_test_comb.txt') as infile:
    test_seg_id=[]
    test_src_txt=[]
    test_tgt_txt=[]
    test_label=[]
    for idx, ln in enumerate(infile):
        if ln:
            try:
                src, tgt, cls = ln.strip().split('\t')[1], ln.strip().split('\t')[2], ln.strip().split('\t')[3]
                test_seg_id.append("htqe_"+str(idx))
                test_src_txt.append(src)
                test_tgt_txt.append(' '.join([c for c in ''.join(tgt.split())]))
                test_label.append(cls)
            except IndexError as e:
                print(idx, e)

In [45]:
# # Creating test dataframe according to BERT
# df_test = pd.read_csv("data/htqe_test_comb.txt", sep='\t', error_bad_lines=False)
# src_tgt_tsts=[]
# for src, tgt in zip(df_test['SRC_Txt'], df_test['TGT_Txt']):
#     src_ws = [w for w in src.split()]
#     tgt_chars =[c for c in ''.join(tgt.split())]
#     src_tgt =' '.join((src_ws + tgt_chars))
#     src_tgt_tsts.append(src_tgt)

In [11]:
test_src_txt[1]

'" one cannot deny that insects are a nuisance when their bites become sore , and a threat when they transmit disease , but , viewed dispassionately , even noxious insects are beautiful . "'

In [12]:
test_tgt_txt[1]

'没 有 人 可 以 否 认 昆 虫 是 一 个 令 人 讨 厌 的 家 伙 ， 因 为 她 咬 我 们 会 给 我 们 带 来 疼 痛 并 会 传 播 疾 病 。 但 是 ， 客 观 地 说 ， 其 实 有 毒 的 昆 虫 是 美 丽 的 。'

In [22]:
test_label[1]

'1'

In [14]:
df_bert_test = pd.DataFrame({'seg_id':test_seg_id,
                 'src_text':test_src_txt,
                  'tgt_text':test_tgt_txt,
                            'golden':test_label})

In [16]:
# Saving dataframes to .tsv format as required by BERT
df_bert_train.to_csv('data2/train.tsv', sep='\t', index=False, quoting=3, header=False)
df_bert_dev.to_csv('data2/dev.tsv', sep='\t', index=False, quoting=3,header=False)
df_bert_test.to_csv('data2/test.tsv', sep='\t', index=False, quoting=3,header=True)

In [41]:
df_results = pd.read_csv("bert_output2/test_results.tsv",sep="\t",header=None)
df_results_csv = pd.DataFrame({'seg_id':df_bert_test['seg_id'],
                               'src_text':df_bert_test['src_text'],
                               'tgt_text':df_bert_test['tgt_text'],
                               'golden':df_bert_test['golden'],
                               'predictions':df_results.idxmax(axis=1).apply(int),})

NameError: name 'df_bert_test' is not defined

In [34]:
df_results = pd.read_csv("bert_output2/test_results.tsv",sep="\t",header=None)

In [35]:
df_results

             0         1
0     0.327275  0.672725
1     0.338851  0.661149
2     0.352504  0.647496
3     0.341203  0.658797
4     0.992677  0.007323
5     0.338425  0.661575
6     0.332412  0.667588
7     0.335089  0.664911
8     0.336531  0.663469
9     0.331142  0.668858
10    0.339326  0.660674
11    0.332736  0.667264
12    0.332099  0.667901
13    0.334676  0.665324
14    0.332654  0.667346
15    0.366784  0.633216
16    0.361876  0.638124
17    0.335235  0.664766
18    0.331382  0.668618
19    0.336475  0.663525
20    0.340276  0.659723
21    0.336190  0.663810
22    0.371307  0.628693
23    0.355246  0.644754
24    0.353258  0.646742
25    0.400834  0.599166
26    0.339063  0.660937
27    0.331348  0.668652
28    0.347851  0.652149
29    0.354410  0.645590
...        ...       ...
2768  0.316860  0.683140
2769  0.344381  0.655619
2770  0.332748  0.667252
2771  0.324185  0.675815
2772  0.339184  0.660816
2773  0.342476  0.657524
2774  0.994894  0.005106
2775  0.984941  0.015059
2776  0.350746  0.649254
2777  0.327579  0.672421
2778  0.340325  0.659675
2779  0.332701  0.667299
2780  0.323968  0.676033
2781  0.354269  0.645731
2782  0.326658  0.673342
2783  0.335486  0.664514
2784  0.347845  0.652155
2785  0.337960  0.662040
2786  0.348376  0.651624
2787  0.337371  0.662629
2788  0.321607  0.678393
2789  0.354134  0.645866
2790  0.387209  0.612791
2791  0.343501  0.656499
2792  0.346838  0.653162
2793  0.338448  0.661552
2794  0.342850  0.657150
2795  0.336237  0.663763
2796  0.323585  0.676415
2797  0.324406  0.675594

[2798 rows x 2 columns]

In [25]:
df_results_test =  pd.read_csv("data2/test.tsv",sep="\t", skiprows=([0,1]), header=None)

In [27]:
df_results_test[3]

0       1
1       1
2       1
3       1
4       1
5       1
6       0
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      0
29      1
       ..
2768    1
2769    1
2770    1
2771    1
2772    1
2773    1
2774    1
2775    1
2776    1
2777    1
2778    1
2779    1
2780    1
2781    1
2782    1
2783    1
2784    1
2785    1
2786    1
2787    1
2788    1
2789    1
2790    1
2791    1
2792    1
2793    1
2794    1
2795    1
2796    1
2797    0
Name: 3, Length: 2798, dtype: int64

In [28]:
df_results_csv.iloc[2798,3]

'0'

In [38]:
df_results_converted=df_results_csv.astype(dtype={"seg_id":"object", "src_text":"object", "tgt_text":"object", "golden":"int64", "predictions":"int64"})

In [30]:
df_results_converted.dtypes

seg_id         object
src_text       object
tgt_text       object
golden          int64
predictions     int64
dtype: object

In [39]:
# writing into .csv
df_results_converted.to_csv('data2/result.csv',sep="\t",index=False, quoting=3,header=True)

In [49]:
perf= precision_recall_fscore_support(df_results_test[3], df_results.idxmax(axis=1).apply(int), average=None)

In [50]:
perf

(array([0.08707124, 0.90326581]),
 array([0.12359551, 0.86329514]),
 array([0.10216718, 0.88282828]),
 array([ 267, 2531]))

In [51]:
perf=pd.DataFrame({'precision':perf[0], 'recall':perf[1], 'f-score':perf[2],'support':perf[3]})

In [52]:
perf

   precision    recall   f-score  support
0   0.087071  0.123596  0.102167      267
1   0.903266  0.863295  0.882828     2531

In [40]:
perf.to_csv('./data/character-bi-sent-80-6-fc.csv', sep='\t',index=True, header=True)

array([0.21348315, 0.87796209])

In [236]:
fscore

array([0.18009479, 0.89546828])

In [237]:
support

array([ 267, 2532])